name: Node.js CI

on:
  push:
    branches: [production, development,beta]
#   pull_request:
#     branches: [production]

jobs:
  build-dev:
    runs-on: self-hosted
    if: github.ref == 'refs/heads/development' && github.event_name != 'pull_request'
    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
         path: |
          node_modules
          ~/.npm
          ${{ github.workspace }}/.next/cache
  # Generate a new cache whenever packages or source files change.
         key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**.[jt]s', '**.[jt]sx') }}
  # If source files changed but packages didn't, rebuild from a prior cache.
         restore-keys: |
           ${{ runner.os }}-nextjs-${{ hashFiles('**/yarn.lock') }}-
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
      - name: Install dependencies
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn install

      - name: Install environment variables
        run: curl https://d19uv5nwol79dp.cloudfront.net/dev-env/.env --output .env

      - name: build package
        run: yarn build

      - name: delete and Starting server
        run: sh init.sh

      - name: Slack Notification
        uses: sonots/slack-notice-action@v3
        with:
          status: ${{ job.status }}
          username: CICD BOT
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: always()

  build-beta:
    runs-on: [self-hosted,beta]
    if: github.ref == 'refs/heads/beta' && github.event_name != 'pull_request'
    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - name: Install dependencies
        run: yarn install

      - name: Install environment variables
        run: curl https://d19uv5nwol79dp.cloudfront.net/dev-env/.env --output .env

      - name: build package
        run: yarn build

      - name: delete and Starting server
        run: sh init.sh

      - name: Slack Notification
        uses: sonots/slack-notice-action@v3
        with:
          status: ${{ job.status }}
          username: CICD BOT
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: always()

  build-prod:
    runs-on: [self-hosted, production]
    if: github.ref == 'refs/heads/production' && github.event_name != 'pull_request'
    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Install dependencies
        run: yarn install

      - name: Install environment variables
        run: curl https://d3h5uaiactj0we.cloudfront.net/prod-env/.env --output .env

      - name: build package
        run: yarn build

      - name: delete and Starting server
        run: sh init.sh

      - name: Slack Notification
        uses: sonots/slack-notice-action@v3
        with:
          status: ${{ job.status }}
          username: CICD BOT
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: always()
